html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    background-color: black;
}

/* MAIN PAGE */
/* start header */

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    z-index: 1;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-160%);
}

.menu_item {
    margin-right: 80px;
}

.menu_item:last-child {
    margin-right: 0;
}

.menu_link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.menu_link:hover,
.menu_link:focus,
.menu_link:active {
    opacity: 0.75;
    color: silver;
}

/* end header */

/* start main */

.intro {
    min-height: 100vh;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 1px solid white;
}

.intro_title {
    font-family: 'Playfair Display';
    max-width: 619px;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: white;
    padding-top: 480px;
}

.intro_title-continue {
    font-family: 'Playfair Display';
    max-width: 619px;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: white;
    padding-top: 40px;
    padding-left: 250px;
}

/* end main */

/* start jewelry */

.jewelry {
    margin-bottom: 150px;
    margin-top: 150px;
}

/* ring112 slider start */

.ring112 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
}

.slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn1:checked~.switch label[for="btn2"] {
    background-color: white;
}

#btn1:checked~.switch label[for="btn3"] {
    background-color: white;
}

.slider_inner {
    overflow: hidden;
}

.slides {
    width: 300%;
    transition: all 0.5s;
}

.slides img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn1:checked~.slider_inner .slides {
    transform: translate(0);
}

#btn2:checked~.slider_inner .slides {
    transform: translate(-500px);
}

#btn3:checked~.slider_inner .slides {
    transform: translate(-1000px);
}

/* ring112 slider end */

/* jewelry info start */

.right {
    padding-left: 50px;
    padding-top: 150px;
    border-right: 1px solid white;
}

.left {
    padding-left: 50px;
    padding-top: 150px;
    border-left: 1px solid white;
}

.jewelry_title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: white;
    padding-bottom: 50px;
}

.jewelry_descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: white;
}

/* jewelry info end */

.ring309 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider309 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider309 input[name="switch309"] {
    display: none;
}

.switch309 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch309 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn-1:checked~.switch309 label[for="btn-2"] {
    background-color: white;
}

#btn-1:checked~.switch309 label[for="btn-3"] {
    background-color: white;
}

.slider_inner309 {
    overflow: hidden;
}

.slides309 {
    width: 300%;
    transition: all 0.5s;
}

.slides309 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn-1:checked~.slider_inner309 .slides309 {
    transform: translate(0);
}

#btn-2:checked~.slider_inner309 .slides309 {
    transform: translate(-500px);
}

#btn-3:checked~.slider_inner309 .slides309 {
    transform: translate(-1000px);
}

/* ring309 slider end */

/* ring551 slider start */

.ring551 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider551 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider551 input[name="switch551"] {
    display: none;
}

.switch551 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch551 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn_1:checked~.switch551 label[for="btn_2"] {
    background-color: white;
}

#btn_1:checked~.switch551 label[for="btn_3"] {
    background-color: white;
}

.slider_inner551 {
    overflow: hidden;
}

.slides551 {
    width: 300%;
    transition: all 0.5s;
}

.slides551 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn_1:checked~.slider_inner551 .slides551 {
    transform: translate(0);
}

#btn_2:checked~.slider_inner551 .slides551 {
    transform: translate(-500px);
}

#btn_3:checked~.slider_inner551 .slides551 {
    transform: translate(-1000px);
}

/* ring551 slider end */

/* ring643 slider start */

.ring643 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider643 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider643 input[name="switch643"] {
    display: none;
}

.switch643 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch643 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#button1:checked~.switch643 label[for="button2"] {
    background-color: white;
}

#button1:checked~.switch643 label[for="button3"] {
    background-color: white;
}

.slider_inner643 {
    overflow: hidden;
}

.slides643 {
    width: 300%;
    transition: all 0.5s;
}

.slides643 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#button1:checked~.slider_inner643 .slides643 {
    transform: translate(0);
}

#button2:checked~.slider_inner643 .slides643 {
    transform: translate(-500px);
}

#button3:checked~.slider_inner643 .slides643 {
    transform: translate(-1000px);
}

/* ring643 slider end */

/* ring326 slider start */

.ring326 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider326 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider326 input[name="switch326"] {
    display: none;
}

.switch326 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch326 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#button_1:checked~.switch326 label[for="button_2"] {
    background-color: white;
}

#button_1:checked~.switch326 label[for="button_3"] {
    background-color: white;
}

.slider_inner326 {
    overflow: hidden;
}

.slides326 {
    width: 300%;
    transition: all 0.5s;
}

.slides326 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#button_1:checked~.slider_inner326 .slides326 {
    transform: translate(0);
}

#button_2:checked~.slider_inner326 .slides326 {
    transform: translate(-500px);
}

#button_3:checked~.slider_inner326 .slides326 {
    transform: translate(-1000px);
}

/* ring326 slider end */

/* ring611 slider start */

.ring611 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider611 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider611 input[name="switch611"] {
    display: none;
}

.switch611 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch611 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#bttn1:checked~.switch611 label[for="bttn2"] {
    background-color: white;
}

#bttn1:checked~.switch611 label[for="bttn3"] {
    background-color: white;
}

.slider_inner611 {
    overflow: hidden;
}

.slides611 {
    width: 300%;
    transition: all 0.5s;
}

.slides611 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#bttn1:checked~.slider_inner611 .slides611 {
    transform: translate(0);
}

#bttn2:checked~.slider_inner611 .slides611 {
    transform: translate(-500px);
}

#bttn3:checked~.slider_inner611 .slides611 {
    transform: translate(-1000px);
}

/* ring611 slider end */

/* earrings323 slider start */

.earrings323 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider323 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider323 input[name="switch323"] {
    display: none;
}

.switch323 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch323 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#bttn_1:checked~.switch323 label[for="bttn_2"] {
    background-color: white;
}

.slider_inner323 {
    overflow: hidden;
}

.slides323 {
    width: 300%;
    transition: all 0.5s;
}

.slides323 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#bttn_1:checked~.slider_inner323 .slides323 {
    transform: translate(0);
}

#bttn_2:checked~.slider_inner323 .slides323 {
    transform: translate(-500px);
}

/* earrings323 slider end */

/* earrings325 slider start */

.earrings325 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
}

.slider325 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider325 input[name="switch325"] {
    display: none;
}

.switch325 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch325 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#bttn-1:checked~.switch325 label[for="bttn-2"] {
    background-color: white;
}

.slider_inner325 {
    overflow: hidden;
}

.slides325 {
    width: 300%;
    transition: all 0.5s;
}

.slides325 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#bttn-1:checked~.slider_inner325 .slides325 {
    transform: translate(0);
}

#bttn-2:checked~.slider_inner325 .slides325 {
    transform: translate(-500px);
}

/* earrings325 slider end */

.footer {
    padding: 40px;
    height: 100%;
    background-image: url(../img/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid white;
}

.footer_text {
    font-size: 20px;
    line-height: 40px;
    font-weight: 100;
    margin-left: 830px;
    color: white;
}

.menu_btn{
    display: none;
}

/* finish footer */


/* VIDEOS PAGE */
/* start header */

.page-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;    
    z-index: 1;
}

/* start videos*/

.videos{
    width: 100%;
    background: linear-gradient(#4d4b4b, #09090e);
    padding-top: 50px;   
}

.video_one{
    margin-bottom: 50px;
}

.videos_wrapper{
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}

.video_item {   
    padding-top: 55%;
}

.video_element{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

/* end videos*/

/* start footer */

.page-footer {
    margin-top: 50px;
    padding: 40px;
    height: 100%;
    background-image: url(../img/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid white;
}

/* end footer */

/* CONTACT PAGE */
/* start main */

.contact {
    min-height: 90vh;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 1px solid white;    
}

.contact_title {
    max-width: 619px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
    padding-top: 200px;
}

.contact_info {
    max-width: 619px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding-top: 10px;    
}

.contact_form-title{
    max-width: 619px;
    font-weight: 400;
    font-size: 24px;
    line-height: 10px;
    color: rgb(35, 202, 194);
    padding-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.contact_form-input {
    border: 2px solid rgb(35, 202, 194);
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    max-width: 619px;
    padding: 0 31px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 300;    
}

.contact_form-input::placeholder {
    color: black;
}

.contact_form-btn {
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    border: 2px solid rgb(35, 202, 194);
    border-radius: 5px;
    padding: 11px 45px;
    cursor: pointer;   
    margin-left: 50px;
    background-color: rgb(35, 202, 194);   
}

.contact_form-btn:hover{
    transform: scale(1.2);
    background-color: rgb(35, 202, 194);
}

.contact_form-btn:active {
    transition: 0s;
    background-color: rgb(50, 118, 115);
}

/* end main */

/* adaptive start */

@media (max-width:1160px){
    .header_logo-link{
        margin-left: 100px;
    }
    .menu_list{
        margin-right: 100px;
    }
    .intro_title{
        margin-left: 100px;
        line-height: 40px;
    }
    .intro_title-continue{
        margin-left: 80px;
        line-height: 30px;
    }
    .jewelry {
        margin-bottom: 80px;
        margin-top: 80px;
    }
    .right {                       
        border-right: none;
    }    
    .left {
        margin-left: 50px;        
        border-left: none;
    }
    .ring112,
    .ring551,
    .ring326,
    .earrings323{        
        grid-gap: 0 50px;
        margin-bottom: 100px;
    }
    .ring309,
    .ring643,
    .ring611,
    .earrings325{
        grid-gap: 0 50px;
    }
    
    .footer_text {
        font-size: 20px;
        line-height: 40px;        
        margin-left: 700px;        
    }
}

@media (max-width:1000px){
    .menu_item {
        margin-right: 50px;
    }
    .intro_title{
        font-size: 40px;
        margin-left: 120px;
    }
    .intro_title-continue{
        font-size: 40px;
        margin-left: 60px;
        line-height: 20px;
    }    
    .left{
        padding-left: 60px;
    }
    .jewelry {
        margin-bottom: 50px;
        margin-top: 50px;
    }    
    .jewelry_title {       
        font-size: 20px;
        line-height: 10px;    
        margin-top: -30px;  
        padding-bottom: 30px;
        
    }    
    .jewelry_descr {
        font-size: 20px;
        line-height: 30px;        
    }


    .ring112 {
        grid-gap: 0 30px;
        margin-bottom: 50px;
    }
    .ring309 {
        grid-gap: 0 30px;
        margin-bottom: 50px;
    }
    .ring551 {       
        grid-gap: 0 30px;
        margin-bottom: 50px;
        padding-top: 50px;        
    }
    .ring643 {        
        grid-gap: 0 30px;
        margin-bottom: 50px;
    }  
    .ring326 {       
        grid-gap: 0 30px;       
        padding-top: 50px;  
        margin-bottom: 50px;      
    }  
    .ring611 {
        grid-gap: 0 30px;
        margin-bottom: 50px;
    }  
    .earrings323 {        
        grid-gap: 0 30px;
        margin-bottom: 50px;
        padding-top: 50px;        
    } 
    .earrings325 {        
        grid-gap: 0 30px;
    }
    .slider,
    .slider309,
    .slider551,   
    .slider643,
    .slider326,
    .slider611,
    .slider323,
    .slider325 {        
        width: 400px;        
    }        
    .slider img,
    .slider309 img,
    .slider551 img,
    .slides643 img,
    .slider326 img,
    .slider611 img,
    .slides323 img,
    .slides325 img {
        width: 400px;
        height: 400px;        
    } 
    #btn1:checked~.slider_inner .slides,
    #btn-1:checked~.slider_inner309 .slides309,
    #btn_1:checked~.slider_inner551 .slides551,
    #button1:checked~.slider_inner643 .slides643,
    #button_1:checked~.slider_inner326 .slides326,
    #bttn1:checked~.slider_inner611 .slides611,
    #bttn_1:checked~.slider_inner323 .slides323,
    #bttn-1:checked~.slider_inner325 .slides325    
    #btn1:checked~.slider_inner .slides {
        transform: translate(0);
    }    
    #btn2:checked~.slider_inner .slides,
    #btn-2:checked~.slider_inner309 .slides309,
    #btn_2:checked~.slider_inner551 .slides551,
    #button2:checked~.slider_inner643 .slides643,
    #button_2:checked~.slider_inner326 .slides326,
    #bttn2:checked~.slider_inner611 .slides611,
    #bttn_2:checked~.slider_inner323 .slides323,
    #bttn-2:checked~.slider_inner325 .slides325 {
        transform: translate(-400px);
    }    
    #btn3:checked~.slider_inner .slides,
    #btn-3:checked~.slider_inner309 .slides309,
    #btn_3:checked~.slider_inner551 .slides551,
    #button3:checked~.slider_inner643 .slides643,
    #button_3:checked~.slider_inner326 .slides326, 
    #bttn3:checked~.slider_inner611 .slides611 {
        transform: translate(-800px);
    }      

    .footer_text {             
        margin-left: 550px;  
        line-height: 30px;      
    }
}

@media (max-width:835px){
    .header_logo-link{
        margin-left: 80px;
    }
    .menu_list{
        margin-right:80px;
    }
    .menu_item {
        margin-right: 40px;
    }

    .intro{
        min-height: 80vh;
    }
    .intro_title{
        font-size: 35px;
        margin-left: 80px;
        transform: translateY(-15%);
    }
    .intro_title-continue{
        font-size: 35px;
        margin-left: 0;  
        transform: translateY(-150%);      
    }
    .right {
        padding-left: 30px;
        padding-top: 130px;        
    }    
    .left {
        padding-left: 20px;
        padding-top: 130px;        
    }
    
    .slider,
    .slider309,
    .slider551,   
    .slider643,
    .slider326,
    .slider611,
    .slider323,
    .slider325 {        
        width: 350px;        
    }        
    .slider img,
    .slider309 img,
    .slider551 img,
    .slides643 img,
    .slider326 img,
    .slider611 img,
    .slides323 img,
    .slides325 img {
        width: 350px;
        height: 350px;        
    }
    #btn1:checked~.slider_inner .slides,
    #btn-1:checked~.slider_inner309 .slides309,
    #btn_1:checked~.slider_inner551 .slides551,
    #button1:checked~.slider_inner643 .slides643,
    #button_1:checked~.slider_inner326 .slides326,
    #bttn1:checked~.slider_inner611 .slides611,
    #bttn_1:checked~.slider_inner323 .slides323,
    #bttn-1:checked~.slider_inner325 .slides325    
    #btn1:checked~.slider_inner .slides {
        transform: translate(0);
    }  
    #btn2:checked~.slider_inner .slides,
    #btn-2:checked~.slider_inner309 .slides309,
    #btn_2:checked~.slider_inner551 .slides551,
    #button2:checked~.slider_inner643 .slides643,
    #button_2:checked~.slider_inner326 .slides326,
    #bttn2:checked~.slider_inner611 .slides611,
    #bttn_2:checked~.slider_inner323 .slides323,
    #bttn-2:checked~.slider_inner325 .slides325 {
        transform: translate(-350px);
    }    
    #btn3:checked~.slider_inner .slides,
    #btn-3:checked~.slider_inner309 .slides309,
    #btn_3:checked~.slider_inner551 .slides551,
    #button3:checked~.slider_inner643 .slides643,
    #button_3:checked~.slider_inner326 .slides326, 
    #bttn3:checked~.slider_inner611 .slides611 {
        transform: translate(-700px);
    }

    .contact_title,
    .contact_info,
    .contact_form-input {
        margin-left: 85px;
    }   
    .contact_form-title{        
        margin-left: 100px;       
    }    
    .contact_form-btn {                      
        margin-left: 134px;         
    }

    .footer_text {  
        font-size: 18px;  
        line-height: 25px;         
        margin-left: 440px;        
    }
}

@media (max-width:700px){
    .header_logo-link{
        margin-left: 40px;
    }
    .menu_list{
        margin-right:40px;
    }
    .menu_item {
        margin-right: 20px;
    }
    .menu_link{
        font-size: 18px;
    }
    .intro{
        min-height: 70vh;
    }
    .intro_title{
        font-size: 30px;
        margin-left: 60px;    
        transform: translateY(-20%);    
    }
    .intro_title-continue{
        font-size: 30px;
        padding-left: 207px;      
        transform: translateY(-210%);      
    }
    .jewelry_title {       
        font-size: 18px;        
        margin-top: -50px;  
        padding-bottom: 20px;        
    }    
    .jewelry_descr {
        font-size: 18px;
        line-height: 25px;        
    }
    .right {
        padding-left: 30px;              
    }
    
    .left {
        padding-left: 10px;         
    }

    .slider,
    .slider309,
    .slider551,   
    .slider643,
    .slider326,
    .slider611,
    .slider323,
    .slider325 {        
        width: 300px;       
    }
    .slider img,
    .slider309 img,
    .slider551 img,
    .slides643 img,
    .slider326 img,
    .slider611 img,
    .slides323 img,
    .slides325 img {
        width: 300px;
        height: 300px;        
    }    
    #btn1:checked~.slider_inner .slides,
    #btn-1:checked~.slider_inner309 .slides309,
    #btn_1:checked~.slider_inner551 .slides551,
    #button1:checked~.slider_inner643 .slides643,
    #button_1:checked~.slider_inner326 .slides326,
    #bttn1:checked~.slider_inner611 .slides611,
    #bttn_1:checked~.slider_inner323 .slides323,
    #bttn-1:checked~.slider_inner325 .slides325 {
        transform: translate(0);
    }    
    #btn2:checked~.slider_inner .slides,
    #btn-2:checked~.slider_inner309 .slides309,
    #btn_2:checked~.slider_inner551 .slides551,
    #button2:checked~.slider_inner643 .slides643,
    #button_2:checked~.slider_inner326 .slides326,
    #bttn2:checked~.slider_inner611 .slides611,
    #bttn_2:checked~.slider_inner323 .slides323,
    #bttn-2:checked~.slider_inner325 .slides325 {
        transform: translate(-300px);
    }    
    #btn3:checked~.slider_inner .slides,
    #btn-3:checked~.slider_inner309 .slides309,
    #btn_3:checked~.slider_inner551 .slides551,
    #button3:checked~.slider_inner643 .slides643,
    #button_3:checked~.slider_inner326 .slides326,
    #bttn3:checked~.slider_inner611 .slides611 {
        transform: translate(-600px);
    } 

    .contact_title,
    .contact_info,
    .contact_form-input {
        margin-left: 80px;        
    }      
    .contact_form-title{       
        margin-left: 95px;
    }    
    .contact_form-btn {
        margin-left: 130px;        
    }

    .footer_text {  
        font-size: 16px;  
        line-height: 25px;         
        margin-left: 340px;        
    }
}


@media (max-width:560px){
    .menu_btn{
        display: inline-block;
        width: 40px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 50px;
        top: 44px;
    }
    .menu_btn::after,
    .menu_btn::before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }
    .menu_btn::before{
        top: 0;
    }
    .menu_btn::after{
        bottom: 0;
    }
    .menu_btn span{
        display: block;
        height: 2px;
        background-color: #fff;
    }
    .menu_list{
        transform: translateY(-280%);
        display: block;
        background-color: rgb(103, 101, 101);
        border: 2px dotted black;
        padding: 10px 0;
        transition: all 3s;
        border-radius: 15px;
        position: absolute;
        left: 50px;
        right: 0;  
        text-align: center;          
    }
    .menu_list:hover{
        color: aqua;
        cursor: pointer;
    }
    .menu_list.menu_list--active{
        transform: translateY(20%);
    }    
    .menu_link{
        padding: 10px;
        /* display: block;       */
        text-align: center;
    }
    .menu_item:last-child{
        padding-right: 15px;
    }

    
    .intro{
        min-height: 50vh;
    }
    .intro_title{
        font-size: 25px;
        margin-left: 50px;    
        transform: translateY(-30%);    
    }
    .intro_title-continue{
        font-size: 25px;
        padding-left: 165px;      
        transform: translateY(-300%);      
    }

    .jewelry {
        margin-bottom: 40px;
        margin-top: 40px;
    }    
    .right {
        text-align: start;
        padding-left: 50px;       
    }    
    .left {
        text-align: end;
        padding-right: 50px;
        padding-bottom: 35px;       
    }

    .ring112,
    .ring309,
    .ring551,
    .ring643,
    .ring326,
    .ring611,
    .earrings323,
    .earrings325 {        
        grid-template-columns: repeat(1, 1fr);  
        border-top: none;                        
    }
    .ring112{
        border-bottom: 1px dotted silver;
        padding-bottom: 30px;
    }
    .ring551{
        border-bottom: 1px dotted silver;   
        border-top: 1px dotted silver;
        padding-bottom: 30px;
    }
    .ring309,
    .ring643,
    .ring611,
    .earrings325{
        margin-top: -82px;
    }
    .ring326{
        border-bottom: 1px dotted silver;   
        border-top: 1px dotted silver;
        padding-bottom: 30px;
    }
    .earrings323{
        border-bottom: 1px dotted silver;   
        border-top: 1px dotted silver;
        padding-bottom: 30px;
    }   

    .contact_title {        
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        padding-right: 20px;             
    }    
    .contact_info {        
        font-weight: 200;
        font-size: 18px;
        line-height: 25px;            
    }    
    .contact_form-title{       
        font-weight: 300;
        font-size: 20px;
        line-height: 10px;       
        margin-left: 104px;
        padding-top: 20px;
    }    
    .contact_form-input {        
        margin-bottom: 15px;
        height: 40px;        
        padding: 0 21px;
        line-height: 20px;
        font-size: 18px;
        font-weight: 300;    
    }
    .contact_form-btn {   
        font-weight: 700;     
        font-size: 20px;
        line-height: 24px;        
        padding: 8px 35px;        
        margin-left: 134px;         
    }

    .footer_text {  
        font-size: 16px;  
        line-height: 25px;         
        margin-left: 220px;        
    }
}

@media (max-width: 475px){
    .menu_link {
        font-size: 16px;        
    } 

    .intro_title{
        font-size: 24px;
        margin-left: 30px;    
        transform: translateY(-32%);    
    }
    .intro_title-continue{
        font-size: 24px;
        padding-left: 146px;      
        transform: translateY(-328%);      
    }

    .contact_title,
    .contact_info,
    .contact_form-input {
        margin-left: 60px;
    }

    .footer_text {  
        font-size: 14px;  
        line-height: 25px;         
        margin-left: 165px;        
    }
}


@media (max-width: 390px) {
    .intro_title-continue{
        padding-left: 100px;  
        transform: translateY(-316%);      
    }

    .contact {
        min-height: 90vh;
    }
    .contact_title,
    .contact_info,
    .contact_form-input {
        margin-left: 55px;
    }    
    .contact_title {   
        padding-top: 144px;         
        font-size: 18px;        
    }    
    .contact_info {        
        font-size: 16px;                 
    }    
    .contact_form-title{       
        font-weight: 300;
        font-size: 18px;           
        margin-left: 75px;       
    }    
    .contact_form-input {        
        font-size: 16px;          
    }
    .contact_form-btn {            
        font-size: 18px;          
        margin-left: 100px;         
    }

    .footer_text {  
        font-size: 12px;  
        line-height: 18px;         
        margin-left: 115px;        
    }
}

/* adaptive end */





